h3 {
    font-size: 18px !important;
    display: flex;
    justify-content: space-between;
}

h4 {
    display: flex;
    justify-content: center;
    color: rgb(255,204,1)!important;
    text-shadow: 
        -1px -1px 0 rgb(49,102,177),
        1px -1px 0 rgb(49,102,177),
        -1px 1px 0 rgb(49,102,177),
        1px 1px 0 rgb(49,102,177);
    font-weight: bold;
}

b {
    font-size: 24px;
}

p {
    margin: 0;
}

hr {
  border: 3px dotted rgb(13, 57, 117) !important;
  border-style: none none dotted;
  color: #fff;
  padding-top: 2px;
  opacity: 0.4;
}